body {
    background-color: rgb(172, 176, 246);
}

header {
    color: black;
    font-family: Arial;
    grid-column: 2;
    margin-top: 20%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    padding:20px;

}

.box {
    background-color: rgb(88, 102, 122);
    grid-column: 2;
    height: fit-content;
    padding: 4%;
    border-radius: 3px;

    
}

#taskinput {
    background-color: rgb(0, 0, 0);
    -webkit-text-fill-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-column: 2;
    border: 0;
    border-radius: 3px;
    text-align: center;
    position: relative;
    width: 80%;
    
    
}

#addbtn {
    background-color:black;
    -webkit-text-fill-color: rgb(255, 255, 255);
    grid-column: 3;
    margin-top: 0;
    width: 5ch;
    border: 0;
    border-radius: 3px;
    margin-left: 2%;
    

}

